@font-face {
  font-family: "IRANSansWeb_Bold";
  src: url(/fonts/IRANSansWeb_Bold.woff2) format("woff2");
  font-weight: 700; }

body {
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #fff; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.res {
  width: 100%;
  max-width: 100%;
  display: block;
  height: auto; }

.part1 {
  background-color: #191c21;
  border-top: 3px solid #a50000;
  padding: 0 5px; }

.background {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 11px 0; }
  @media only screen and (max-width: 768px) {
    .background {
      display: none; } }

.right ul {
  align-items: center;
  gap: 5px; }
  .right ul a {
    display: flex; }

.left {
  color: #c6cbc9; }
  .left .en_date {
    direction: ltr; }
  .left .time {
    display: flex;
    align-items: end; }
    .left .time .red_dot {
      display: flex;
      padding: 0 2px; }

.part2 {
  background-color: #000;
  font-family: "IRANSansWeb_Bold";
  padding: 15px 0; }
  @media only screen and (max-width: 768px) {
    .part2 {
      position: relative; } }
  .part2 .logo {
    width: 200px; }
    @media only screen and (max-width: 768px) {
      .part2 .logo {
        margin-bottom: 30px;
        padding-right: 10px; } }
  .part2 h1 {
    margin: 0; }
  .part2 .parent {
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-width: 768px) {
      .part2 .parent {
        align-items: center; } }
    @media only screen and (max-width: 768px) {
      .part2 .parent {
        flex-direction: column; } }
    .part2 .parent .nav_bar {
      flex-basis: 75%; }
      @media only screen and (max-width: 768px) {
        .part2 .parent .nav_bar {
          display: flex;
          justify-content: center; } }
    .part2 .parent a:hover {
      border-bottom: 2px solid #ffb244;
      transition: 0.2s; }
  .part2 .search_box {
    background-color: #000;
    border: unset; }
    .part2 .search_box button {
      display: flex;
      cursor: pointer; }
    @media only screen and (max-width: 768px) {
      .part2 .search_box {
        position: absolute;
        top: 20px;
        left: 5px; } }

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; }
  @media only screen and (max-width: 768px) {
    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
