body {
  margin: 0;
  font-size: 2em; }

.nav {
  background-color: #d7e8d4;
  width: 20%;
  padding: 10px; }
  @media only screen and (max-width: 968px) {
    .nav {
      width: 100%; } }

.parent {
  display: flex; }
  @media only screen and (max-width: 968px) {
    .parent {
      flex-direction: column; } }

.child {
  width: 80%; }
  @media only screen and (max-width: 968px) {
    .child {
      width: 100%; } }

.header, .footer {
  background-color: #9acd32;
  height: 150px;
  padding: 10px; }

.main {
  display: flex;
  height: 1200px; }
  @media only screen and (max-width: 968px) {
    .main {
      flex-direction: column; } }
  .main .article {
    background-color: #fff;
    width: 80%;
    padding: 10px; }
    @media only screen and (max-width: 968px) {
      .main .article {
        width: 100%;
        height: 50%; } }
  .main .aside {
    background-color: #f5f5dc;
    width: 20%;
    padding: 10px; }
    @media only screen and (max-width: 968px) {
      .main .aside {
        width: 100%;
        height: 50%; } }
